<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>OAuth Client User Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="oauthClient">
        <div ng-controller="UserPasswordController">
            <h1>OAuth Client User Password</h1>
        
            Nama : <input type="text" ng-model="nama">
            <br>
            Nama : {{nama}}
            
            <hr>
            
            Username : <input type="text" ng-model="username"/><br>
            Password : <input type="password" ng-model="password" /><br>
            
            <button ng-click="requestToken()">Request Token</button><br>
            
            Token : {{token}}
            
            <hr>
            <button ng-click="requestKeResourceServer()">Request ke Resource Server</button>
            <div>
                {{responseDariServer}}
            </div>
            
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="js/userpassword.js"></script>
    </body>
</html>
